.App {
  text-align: center;
  height: 100%;

}

main {
  height: 100%;
  height: calc(100% - 100px);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}